<a href="https://colab.research.google.com/github/mpabst01/pythonLab/blob/main/Copy_of_Pre_Lab_1_Intro_to_Python_(1502).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><center>$\text{Pre-Lab 1: Introduction to Python}$</center></h1>

In [ ]:
#@title <font color="red"> Make a copy of this file before proceeding!
Section = "001 - MoWeTh 10:10am-12:05pm" #@param ["Select your section", "001 - MoWeTh 10:10am-12:05pm", "002 - MoWeTh 12:20pm-2:15pm", "003 - MoWeTh 2:30pm-4:25pm", "004 - MoWeTh 4:40pm-6:35pm", "005 - TuThFr 8am-9:55am", "006 - TuThFr 10:10am-12:05pm", "007 - TuThFr 12:20pm-2:15pm"]
Name = "Marylee Pabst" #@param {type:"string"}

This pre-lab is a review of material you have used in previous courses.  For a full review of Python, see the "Introduction to Python" sections of your lab manual.



---

# $\text{Basics}$

---



---

## $\text{Datatypes}$

---

There are three types of data you'll use in ```Python```: strings, integers, and floats.  **Strings** are a string of characters surrounded by quotation marks.  You will be using strings as labels.  Below is an example of a string:

In [ ]:
"hello, world"

**Integers** are whole numbers that can be positive or negative.  They are just numbers without decimal points.  Below are an example of an integer:

In [ ]:
36

**Floats** (which is shorthand for **floating point numbers**) are numbers that utilize a decimal point.  Below is an example of a float:

In [ ]:
4.156

> **PL Q1. Does the code below contain a string, integer, or a float?**

In [ ]:
"44.3"

In [ ]:
PL_Q1 = "String" #@param {type:"string"}



---

## $\text{Calculator}$

---

Python can function as an ordinary calculator.  You can add, subtract, multiply, and divide numbers.

Execute the input cells below (Shift+Enter).

In [ ]:
3*10/2

15.0

Unlike your calculator, ```Python``` must be told when to multiply by using an asterisk ```*```, even when parentheses are present.  Running the cell below will result in an error message and will point to the line of code that needs to be fixed.

In [ ]:
5(3+2)

TypeError: ignored

To perform exponential operations, ```Python``` uses the format ```**``` to represent ```^```, which is the symbol used by most calculators.

In [ ]:
(3**2+1)/2

5.0

Proper use of parenthesis is important. The expression above different than the expression below. Use Shift+Enter to execute.

In [ ]:
3**2+1/2

9.5

> **PL Q2. Calculate $$\left(\frac{1}{2^5+1}\right)*2$$ in the code block below, and write the answer in the text box:**

In [ ]:
(1/((2**5) + 1)) * 2

0.06060606060606061

In [ ]:
PL_Q2 = "0.06060606060606061" #@param {type:"string"}



---

## $\text{Packages}$

---

Now, lets try writing some code. Unlike MATLAB or Mathematica, ```Python``` is open-source, meaning anyone can contribute there own modules that are useful for certain tasks. We will mainly be using ```numpy```, which is a Python-based ecosystem of open-source software for mathematics. In ```Python``` we use the ```import``` command to let Colab know where we want to import from.

In [ ]:
import numpy as np

Now that ```numpy``` is loaded, let's start to do some basic calculations.  We can call on ```numpy``` functions using the command ```np.``` in our code.

In [ ]:
np.cos(0)

1.0

In [ ]:
np.exp(3)

20.085536923187668

In [ ]:
np.sqrt(9)

3.0

In this example, ```log(x)``` denotes the natural log, $\ln(x)$, while ```log10(x)``` denotes $\log_{10}(x)$.

In [ ]:
np.log(2)

0.6931471805599453

In [ ]:
np.log10(2)

0.3010299956639812

> **PL Q3. Calculate $$\sqrt{2}e^{-5/3}$$ in the code block below, and write the answer in the text box:**

In [ ]:
(np.sqrt(2) * (2.718281 ** (-5/3)))

0.26711057481443495

In [ ]:
PL_Q3 = "0.26711057481443495" #@param {type:"string"}



---

# $\text{Defining Variables}$

---

To define variables, we simply use ```=``` .

Let's write a line of code to find the square root of the sum of two squares,  ```a``` and ```b```, and store the result as a variable, ```c```, as well.
$$c = \sqrt{a^{2} + b^{2}}$$

In [ ]:
a = 3
b = 4

c = np.sqrt(a**2 + b**2)

As you can see, although we stored our computation we haven't yet been shown the result. To do this we can use the ```print()``` function to display the variable ```c```.

In [ ]:
print(c)

5.0



---

# $\text{Creating Functions}$

---

Now that we have seen functions from ```numpy``` to perform calculations, let's write a function of our own. Execute the cell below to define the function $f(x)=x^2$.

In [ ]:
def testfunction(x):
  return x**2

Test out the ```testfunction```.

In [ ]:
testfunction(3)

9

In [ ]:
testfunction(5.5)

30.25

Here, we create a function of a single variable named ```myfunction``` which represents $f(x)=\dfrac{1}{x}+x$. Then evaluate the function at $x=5$.

In [ ]:
def myfunction(x):
  return 1/x+x

myfunction(5)

5.2

> **PL Q4.  In the code below, write a fuction ``myaverage()`` to calculate the average of two variables ``v`` and ``w``.**

In [ ]:
def myaverage(v,w):
  return (v+w)/2

> **Test your function by calculting the average of $v = 13$ and $w = 91$.  Write the answer in the text box:**

In [ ]:
v = 13
w = 91

myaverage(v,w)

52.0

In [ ]:
PL_Q4 = "52" #@param {type:"string"}



---

# $\text{Lists}$

---

In future labs, we will acquire large amounts of data in the form of lists or arrays. ```Python``` takes a ordered list (1, 2, 3, 4, 5) using the syntax ```[i_1, i_2, ..., i_n]```. Note the form of the list.

In [ ]:
mylist = [1,2,3,4,5]

---
---
---

In [ ]:
#@title <font color="blue">  To receive FULL CREDIT, you MUST run this cell AFTER completing the lab and upload the PDF file to HuskyCT. To access the PDF, click on the "File" icon in the toolbar to the left.
!pip install reportlab
import datetime

from reportlab.lib import colors
from reportlab.lib.pagesizes import letter, inch, portrait
from reportlab.platypus import SimpleDocTemplate, Table, TableStyle, Paragraph
from reportlab.lib.styles import getSampleStyleSheet

Course_Number = "1502Q"
PreLab_Number = "PL01"
file_timestamp = datetime.datetime.today().strftime('%Y-%m')
Section_Number = (Section)[0:3]

doc = SimpleDocTemplate(str(file_timestamp)+"_"+str(Course_Number)+
                        str(Section_Number)+"_"+str(PreLab_Number)+
                        "_"+str(Name)+".pdf",
                        pagesize=letter, rightMargin=50,
                        leftMargin=50, topMargin=50,bottomMargin=50)
doc.pagesize = portrait(letter)
elements = []

timestamp = datetime.datetime.now().isoformat()

data = [
["Name:", Name],
["timestamp:", timestamp],
["Course_Number:", Course_Number],
["Section_Number:", Section_Number],
["PreLab_Number:", PreLab_Number],
["PL Q1:", PL_Q1],
["PL Q2:", PL_Q2],
["PL Q3:", PL_Q3],
["PL Q4:", PL_Q4],
#["Q5:", Q5],
]

#TODO: Get this line right instead of just copying it from the docs
style = TableStyle([('ALIGN',(1,1),(-2,-2),'RIGHT'),
                       ('TEXTCOLOR',(1,1),(-2,-2),colors.red),
                       ('VALIGN',(0,0),(0,-1),'TOP'),
                       ('TEXTCOLOR',(0,0),(0,-1),colors.blue),
                       ('ALIGN',(0,-1),(-1,-1),'CENTER'),
                       ('VALIGN',(0,-1),(-1,-1),'MIDDLE'),
                       ('TEXTCOLOR',(0,-1),(-1,-1),colors.green),
                       ('INNERGRID', (0,0), (-1,-1), 0.25, colors.black),
                       ('BOX', (0,0), (-1,-1), 0.25, colors.black),
                       ])

#Configure style and word wrap
s = getSampleStyleSheet()
s = s["BodyText"]
s.wordWrap = 'CJK'
data2 = [[Paragraph(cell, s) for cell in row] for row in data]
t=Table(data2,colWidths=(100,None))
t.setStyle(style)

#Send the data and build the file
elements.append(t)
doc.build(elements)

Requirement already satisfied: reportlab in /usr/local/lib/python3.7/dist-packages (3.6.1)
Requirement already satisfied: pillow>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from reportlab) (7.1.2)

NameError: ignored